h1 {
    text-align:center;
}
td {
    border:2px solid gray;
    padding:5px;
}
table {
    width:98%;
    margin:20px auto;
    border-collapse:collapse;
}
div {
    margin:50px auto;
    padding:10px;
    border-radius:10px;
    background-color:green;
    width:200px;
    text-align:center;
}
a {
    text-decoration:none;
    text-transform:uppercase;
}
div a {
    color: white;
    font-weight:900;
    
}